@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");

body {
  background: black;
}

h1 {
  font: 95px Roboto, Georgia, Times New Roman, serif;
  color: white;
  margin: 15px 0px 15px 0px;
}

h3 {
  font: 60px Roboto, Georgia, Times New Roman, serif;
  margin: 0px;
  color: mediumseagreen;
  margin: 15px 0px 15px 0px;
  }

h3 {
  font: 60px Roboto, Georgia, Times New Roman, serif;
  margin: 0px;
  color:white;
}

h5 {
  font: 50px Roboto, Georgia, Times New Roman, serif;
  margin: 0;
  color: white;
}

button {
  border: none;
  outline: none;
  border-radius: 24px;
  margin: 5px;
  background: blue;
  color: white;
  font-weight: bold;
  -webkit-transition: background-color 100ms linear, color 100ms linear;
  -moz-transition: background-color 100ms linear, color 100ms linear;
  -o-transition: background-color 100ms linear, color 100ms linear;
  -ms-transition: background-color 100ms linear, color 100ms linear;
  transition: background-color 100ms linear, color 100ms linear;
}

button:hover {
  background: white;
  color: blue;
}

button.lg {
  font: 20px Raleway, Arial, sans-serif;
  padding: 7px 20px;
  font-weight: bold;
}

button.sm {
  font: 14px Raleway, Arial, sans-serif;
  padding: 5px 15px;
  font-weight: bold;
}

button.red {
  background:red;
  color:white;
}
button.red:hover {
  background:white;
  color: red;
}

p {
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
  padding: 25px;
  margin: 0 auto;
}

.byline {
  font: 12px Raleway, Arial, sans-serif;
  color: white;
  margin: -31px 120px 25px 0px;
}

.byline a {
  color: white;
  text-decoration: none;
}


.hands-container {
  display: grid;
  grid-column-gap: 150px;
  grid-template-columns: auto auto;
}

.Hand {
  margin: 25px;
}

.cards-container {
  padding-top: 10px;
  padding-right: 150px;
}

.Card {
  display: inline-block;
  padding: 10px;
}

.Card img {
  border-radius: 5px;
  height: 175px;
  width: 115px;
  margin: 10px;
}